body{
  overflow-x: hidden;
  
}

.container {
  width: 100%;
  /* height: 100vh; */
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  margin-bottom: 12px;
  font-size: 2.5em;
}

.container input {
  min-width: 350px;
  padding: 5px 12px;
  margin-bottom: 36px;
  outline: none;
}

.pagetop {
	color: #fff;
	background-color: rgb(13 110 253);
	text-decoration: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
  transition-property: opacity; 
  transition-duration: 1s;
  opacity: 0;
}

.pagetop.is-show {
  opacity: 1;
}










@media (max-width: 1100px){
  .images-wrapper {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media (max-width: 768px){
  .images-wrapper {
    grid-template-columns:  1fr !important;
    justify-items: center;
    grid-gap: 50px !important;
  }
  .container {
    overflow-x: hidden;
  }

  .image {

    width: 90% !important;
    height: 100% !important;
  }
  .page-link {
    padding: 0.375rem 0.35rem !important; 
  }
}

@media (max-width: 350px){


  .container input {
    min-width: 0px;
  }

  .image {

    width: 80% !important;
    height: 100% !important;
  }
  .page-link {
  padding: 0.375rem 0.25rem !important; 
  }

 
}


/*PC*/
@media (hover: hover) {
  .pagetop:hover {
    color: #fff !important;
    background-color: #1b4e98;
    text-decoration: none;
  }
  
}

/*ios android*/
@media (hover: none) {
  .pagetop:active {
    color: #fff !important;
    background-color: #1b4e98;
    text-decoration: none;
  }
  
}
